<div class="container">
  <h1>Welcome to your Goth Recipe Box!</h1>

<a href="/recipes">View All Recipes</a>
</br></br>

  <form action="/recipes/new" method="post">
    <div class='form-group'>
      <label for="name">Add a recipe</label>
      <input type="text" name="name" class='form-control'>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
