<html>
	<head lang='en'>
		<title>recipe_box</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
			<%= yield %>
		</div>
	</body>
</html>
