
<div class="container">
<% if Recipe.any? %>
  <% Recipe.all.each() do |recipe| %>
    <ul>
      <li><a href="/recipe/<%= recipe.id() %>"><%= recipe.name %></a></li>
    </ul>
  <% end %>

  <% else %>
    <h1>There are no recipes yet! </h1>
  <% end %>

  <button class= "btn btn-default"><a href="/">Back</a></button>
</div>
